# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\USER\Dropbox\ShikhaShikhi\Bootcamp\BackEnd\14TODO\To-Do-App-master\To-Do-App-master\todo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
