# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\USER\Dropbox\ShikhaShikhi\Bootcamp\Tasks\BackEnd\seven\template\firstapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
