<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replace</title>
</head>
<body>
    <h1>String Changer</h1>
    <form action="" method="post">{% csrf_token %}
        

        <label for="file">Replace	:</label><br>
        <input type="file" id="file" name="filein" ><br> <br>


        <label for="ftext">Find Text	:</label><br>
        <input type="text" id="ftext" name="ftext" ><br>

        <label for="replace">Replace	:</label><br>
        <input type="text" id="replace" name="replace" ><br><br> 

         

        <input type="submit" value="Change">
    
        
    </form>

    <p>{{filein}}</p>
</body>
</html>