<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Counter</title>
</head>
<body>
    <h1>Word Counter</h1>
    <form action="" method="GET">
        <textarea name="text" id="text" cols="30" rows="10" placeholder="Type the string to count" style="margin: 0px; width: 1511px; height: 254px;"></textarea>
        <input type="submit" value="Counter">
    </form>
    
    <h3>Total words are: {{string_length}}</h3>
    <ul>
    {% for key, value in string_dict.items %}
        <li>{{key}}: {{value}}</li>
    {% endfor %}
    </ul>
</body>
</html>